body {
    width: 65%;
    margin: auto;
    background-color: rgb(5, 5, 89);
}
h1, h2, p {
    color: whitesmoke;
}
h1 {
    text-align: center;
}
hr {
    rotate: 90deg;
}
section {
    border: 2px solid #FFF;
    margin: 1rem 0;
    padding: 1rem;
    background-color: #333;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
img {
    width: 180px;
    height: auto;
}
section.choice {
    display: flex;
    align-items: center;
}